body{
    margin: 0; 
    padding: 0;
}

.button {
    background-color: #4CAF50; /* 綠色背景 */
    border: none;
    color: white; /* 白色字 */
    padding: 15px 20px; /* 上下左右的內邊距 */
    text-align: center; /* 文字置中 */
    text-decoration: none; /* 無底線 */
    display: inline-block; /* 內聯塊元素 */
    font-size: 16px; /* 字體大小 */
    margin: 4px 2px; /* 外邊距 */
    cursor: pointer; /* 鼠標變為手型 */
    border-radius: 5px; /* 邊角圓滑 */
}
.button_upload{
  background-image:url('img/add.png');
  background-size: contain;
  border: none;
  color: white; /* 白色字 */
  padding: 0px; /* 上下左右的內邊距 */
  text-align: center; /* 文字置中 */
  text-decoration: none; /* 無底線 */
  display: inline-block; /* 內聯塊元素 */
  cursor: pointer; /* 鼠標變為手型 */
  border-radius: 100%; /* 邊角圓滑 */
  width:40px;
  height:40px;
}

.map{
    height: 100vh; 
    width: 100%; 
    margin: 0; 
    padding: 0;
}


.buttons{
    position: fixed; 
    bottom: 10px; 
    right: 1%; 
    z-index: 5;
}

.upload{
    position:fixed; 
    top:20px; 
    right: 1%;  
}


/* From Uiverse.io by LightAndy1 */ 
.search {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: absolute;
    width: 300px;
    top: 10px; 
    right: 45%; 
    z-index: 5;
  }
  
  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #fff7f0;
    color: #0d0c22;
    transition: 0.3s ease;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: #ffdbb4;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(255	219	180 / 50%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
  