.ad-post {
  background-color: #fff7f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.ad-post .div {
  background-color: #fff7f0;
  overflow: hidden;
  width: 1440px;
  height: 2056px;
  position: relative;
}

.ad-post .overlap {
  position: absolute;
  width: 2290px;
  height: 768px;
  top: 1386px;
  left: -370px;
}

.ad-post .shape {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 87px;
  left: 0;
}

.ad-post .footer {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.ad-post .text-wrapper {
  position: absolute;
  top: 603px;
  left: 824px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 20px;
  letter-spacing: 1.00px;
  line-height: normal;
  white-space: nowrap;
}

.ad-post .overlap-group {
  position: absolute;
  width: 533px;
  height: 78px;
  top: 442px;
  left: 492px;
  background-image: url(./img/rectangle-2-1.svg);
  background-size: 100% 100%;
}

.ad-post .text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.ad-post .mail {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 24px;
}

.ad-post .AR-VR {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 335px;
  left: 1456px;
}

.ad-post .text-wrapper-3 {
  position: absolute;
  width: 212px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: 44px;
}

.ad-post .AR-VR-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 408px;
  left: 1456px;
}

.ad-post .view {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1456px;
}

.ad-post .quick-links {
  position: absolute;
  width: 287px;
  top: 179px;
  left: 1419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #88746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.20px;
  line-height: 44px;
}

.ad-post .div-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 480px;
  left: 1113px;
}

.ad-post .view-2 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 407px;
  left: 1112px;
}

.ad-post .div-wrapper-2 {
  position: absolute;
  width: 265px;
  height: 44px;
  top: 335px;
  left: 1087px;
}

.ad-post .text-wrapper-4 {
  position: absolute;
  width: 265px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: 44px;
}

.ad-post .view-3 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1113px;
}

.ad-post .services {
  position: absolute;
  width: 175px;
  top: 179px;
  left: 1131px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #87746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.20px;
  line-height: 44px;
}

.ad-post .overlap-2 {
  position: absolute;
  width: 390px;
  height: 142px;
  top: 230px;
  left: 492px;
}

.ad-post .flexcontainer {
  top: 35px;
  left: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.ad-post .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.ad-post .span {
  letter-spacing: 1.10px;
}

.ad-post .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.ad-post .vector {
  position: absolute;
  width: 1242px;
  height: 1px;
  top: 582px;
  left: 466px;
}

.ad-post .overlap-3 {
  position: absolute;
  width: 1212px;
  height: 1072px;
  top: 272px;
  left: 114px;
  background-color: #fffefe;
  border-radius: 20px;
  border: 3px solid;
  border-color: #fae5ce;
}

.ad-post .overlap-wrapper {
  position: absolute;
  width: 370px;
  height: 92px;
  top: 89px;
  left: 425px;
}

.ad-post .overlap-4 {
  position: relative;
  width: 368px;
  height: 92px;
  background-color: #fee3c8;
  border-radius: 6px;
}

.ad-post .text-wrapper-5 {
  width: 290px;
  top: 22px;
  left: 69px;
  font-size: 40px;
  letter-spacing: 6.00px;
  line-height: normal;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
}

.ad-post .pet-supplies {
  position: absolute;
  width: 114px;
  height: 114px;
  top: 69px;
  left: 264px;
  object-fit: cover;
}

.ad-post .footprint {
  position: absolute;
  width: 114px;
  height: 114px;
  top: 69px;
  left: 840px;
  object-fit: cover;
}

.ad-post .inputs-name {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 68px;
  align-items: flex-start;
  position: absolute;
  top: 430px;
  left: 710px;
  border-radius: 80px;
}

.ad-post .text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 30px;
  border: 2.5px solid;
  border-color: #faa852bf;
}

.ad-post .state-layer {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px 4px 0px 0px;
}

.ad-post .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 18px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.ad-post .label-text {
  position: relative;
  align-self: stretch;
  width: 100%;
  border: none;
  background: none;
  margin-top: -1.00px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #59595999;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.50px;
  line-height: 24px;
  white-space: nowrap;
  padding: 0;
}

.ad-post .text-wrapper-6 {
  position: absolute;
  top: 443px;
  left: 545px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c76;
  font-size: 32px;
  letter-spacing: 4.80px;
  line-height: normal;
}

.ad-post .text-field-wrapper {
  top: 525px;
  left: 710px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 68px;
  align-items: flex-start;
  position: absolute;
  border-radius: 80px;
}

.ad-post .text-wrapper-7 {
  position: absolute;
  top: 538px;
  left: 545px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c76;
  font-size: 32px;
  letter-spacing: 4.80px;
  line-height: normal;
}

.ad-post .inputs-name-2 {
  top: 622px;
  left: 708px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 68px;
  align-items: flex-start;
  position: absolute;
  border-radius: 80px;
}

.ad-post .text-wrapper-8 {
  position: absolute;
  top: 635px;
  left: 543px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c76;
  font-size: 32px;
  letter-spacing: 4.80px;
  line-height: normal;
}

.ad-post .inputs-name-3 {
  top: 720px;
  left: 710px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 68px;
  align-items: flex-start;
  position: absolute;
  border-radius: 80px;
}

.ad-post .text-wrapper-9 {
  position: absolute;
  top: 733px;
  left: 545px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c76;
  font-size: 32px;
  letter-spacing: 4.80px;
  line-height: normal;
}

.ad-post .inputs-name-4 {
  top: 816px;
  left: 708px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 68px;
  align-items: flex-start;
  position: absolute;
  border-radius: 80px;
}

.ad-post .AI {
  position: absolute;
  width: 1033px;
  top: 237px;
  left: 81px;
  font-family: "Zen Maru Gothic", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 4.80px;
  line-height: normal;
}

.ad-post .text-wrapper-10 {
  color: #595959;
  letter-spacing: 1.54px;
}

.ad-post .text-wrapper-11 {
  color: #e47070;
  letter-spacing: 1.54px;
}

.ad-post .member-button-wrapper {
  position: absolute;
  width: 228px;
  height: 66px;
  top: 937px;
  left: 460px;
}

.ad-post .member-button {
  height: 66px;
}

.ad-post .overlap-group-2 {
  position: relative;
  width: 243px;
  height: 74px;
  top: -8px;
  left: -15px;
}

.ad-post .view-4 {
  position: absolute;
  width: 228px;
  height: 66px;
  top: 8px;
  left: 15px;
  background-color: #fee3c8;
  border-radius: 30px;
}

.ad-post .text-wrapper-12 {
  top: 18px;
  left: 88px;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
}

.ad-post .dog {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.ad-post .overlap-5 {
  position: absolute;
  width: 331px;
  height: 286px;
  top: 506px;
  left: 132px;
  background-color: #fff2e0;
}

.ad-post .text-wrapper-13 {
  position: absolute;
  top: 129px;
  left: 94px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c76;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: normal;
}

.ad-post .text-wrapper-14 {
  position: absolute;
  top: 829px;
  left: 543px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #907c76;
  font-size: 32px;
  letter-spacing: 4.80px;
  line-height: normal;
}


.ad-post .overlap-6 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.ad-post .overlap-7 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.ad-post .line {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.ad-post .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.ad-post .img {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.ad-post .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.ad-post .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
  overflow: hidden;
}

.ad-post .donate {
  position: absolute;
  width: 117px;
  height: 83px;
  top: 5px;
  left: -1px;
}

.ad-post .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.ad-post .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.ad-post .vector-2 {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.ad-post .flexcontainer-i {
  top: 24px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.ad-post .AR-VR-2 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 1096px;
}



.ad-post .view-5 {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.ad-post .text-wrapper-16 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.60px;
  line-height: normal;
}

.ad-post .view-6 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.ad-post .view-7 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.ad-post .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.ad-post .view-8 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}
