.template {
  background-color: #fff7f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.template .div {
  background-color: #fff7f0;
  overflow: hidden;
  width: 1440px;
  height: 1618px;
  position: relative;
}

.template .overlap {
  position: absolute;
  width: 2290px;
  height: 826px;
  top: 890px;
  left: -370px;
}

.template .shape {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 145px;
  left: 0;
}

.template .footer {
  position: absolute;
  width: 2290px;
  height: 681px;
  top: 58px;
  left: 0;
  background-color: transparent;
}

.template .text-wrapper {
  position: absolute;
  top: 603px;
  left: 824px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #484848;
  font-size: 20px;
  letter-spacing: 1.00px;
  line-height: normal;
  white-space: nowrap;
}

.template .overlap-group {
  position: absolute;
  width: 533px;
  height: 78px;
  top: 442px;
  left: 492px;
  background-image: url(./img/rectangle-2-1.svg);
  background-size: 100% 100%;
}

.template .text-wrapper-2 {
  position: absolute;
  top: 20px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #595959;
  font-size: 28px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.template .mail {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 24px;
}

.template .AR-VR {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 335px;
  left: 1456px;
}

.template .text-wrapper-3 {
  position: absolute;
  width: 212px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: 44px;
}

.template .AR-VR-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 408px;
  left: 1456px;
}

.template .view {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1456px;
}

.template .quick-links {
  position: absolute;
  width: 287px;
  top: 179px;
  left: 1419px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #88746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.20px;
  line-height: 44px;
}

.template .div-wrapper {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 480px;
  left: 1113px;
}

.template .view-2 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 407px;
  left: 1112px;
}

.template .div-wrapper-2 {
  position: absolute;
  width: 265px;
  height: 44px;
  top: 335px;
  left: 1087px;
}

.template .text-wrapper-4 {
  position: absolute;
  width: 265px;
  top: -1px;
  left: 0;
  font-family: "Staatliches", Helvetica;
  font-weight: 400;
  color: #a58c84;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: 44px;
}

.template .view-3 {
  position: absolute;
  width: 212px;
  height: 44px;
  top: 262px;
  left: 1113px;
}

.template .services {
  position: absolute;
  width: 175px;
  top: 179px;
  left: 1131px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #87746e;
  font-size: 42px;
  text-align: center;
  letter-spacing: 4.20px;
  line-height: 44px;
}

.template .overlap-2 {
  position: absolute;
  width: 390px;
  height: 142px;
  top: 230px;
  left: 492px;
}

.template .flexcontainer {
  top: 35px;
  left: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.template .text-i {
  position: relative;
  align-self: stretch;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #4c3c3c;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
}

.template .span {
  letter-spacing: 1.10px;
}

.template .logo {
  position: absolute;
  width: 157px;
  height: 142px;
  top: 0;
  left: 0;
}

.template .vector {
  position: absolute;
  width: 1242px;
  height: 1px;
  top: 582px;
  left: 466px;
}

.template .member-button-wrapper {
  position: absolute;
  width: 228px;
  height: 66px;
  top: 0;
  left: 980px;
}

.template .member-button {
  position: relative;
  height: 66px;
  background-color: #fee3c8;
  border-radius: 30px;
}

.template .text-wrapper-5 {
  top: 10px;
  left: 92px;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
}

.template .dog {
  position: absolute;
  width: 73px;
  height: 73px;
  top: -8px;
  left: -15px;
  object-fit: cover;
}

.template .overlap-wrapper {
  position: absolute;
  width: 389px;
  height: 92px;
  top: 254px;
  left: 533px;
}

.template .overlap-3 {
  position: relative;
  width: 387px;
  height: 92px;
}

.template .view-4 {
  position: absolute;
  width: 368px;
  height: 92px;
  top: 0;
  left: 0;
  background-color: #fee3c8;
  border-radius: 6px;
}

.template .text-wrapper-6 {
  width: 290px;
  top: 22px;
  left: 97px;
  font-size: 40px;
  letter-spacing: 6.00px;
  line-height: normal;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #595959e0;
}

.template .group {
  position: absolute;
  width: 1332px;
  height: 387px;
  top: 424px;
  left: 58px;
}

.template .overlap-4 {
  position: relative;
  width: 1326px;
  height: 387px;
  background-color: #fbeece;
}

.template .text-wrapper-7 {
  position: absolute;
  top: 41px;
  left: 793px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #877468;
  font-size: 40px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: 45px;
  white-space: nowrap;
}

.template .overlap-group-2 {
  position: absolute;
  width: 784px;
  height: 238px;
  top: 111px;
  left: 484px;
  background-color: #ffffff;
}

.template .text-wrapper-8 {
  position: absolute;
  top: 94px;
  left: 338px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
  white-space: nowrap;
}

.template .overlap-5 {
  position: absolute;
  width: 351px;
  height: 311px;
  top: 38px;
  left: 69px;
  background-color: #ffffff;
}

.template .text-wrapper-9 {
  position: absolute;
  top: 132px;
  left: 139px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  text-align: center;
  letter-spacing: 3.15px;
  line-height: 45px;
  white-space: nowrap;
}

.template .nav {
  position: fixed;
  width: 1444px;
  height: 185px;
  top: -7px;
  left: -2px;
  background-color: #fff7f0;
  border: 2px solid;
  border-color: #c7c3c3;
  backdrop-filter: blur(30px) brightness(100%);
  -webkit-backdrop-filter: blur(30px) brightness(100%);
}

.template .overlap-6 {
  position: absolute;
  width: 1238px;
  height: 146px;
  top: 14px;
  left: 29px;
}

.template .overlap-7 {
  position: absolute;
  width: 1238px;
  height: 142px;
  top: 0;
  left: 0;
}

.template .line {
  position: absolute;
  width: 870px;
  height: 94px;
  top: 23px;
  left: 368px;
}

.template .AR-VR-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 1074px;
}

.template .img {
  position: absolute;
  width: 112px;
  height: 83px;
  top: 5px;
  left: 2px;
}

.template .map-jpg {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 24px;
  left: 723px;
}

.template .donate-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 891px;
  overflow: hidden;
}

.template .donate {
  position: absolute;
  width: 117px;
  height: 83px;
  top: 5px;
  left: -1px;
}

.template .chat-jpg {
  position: absolute;
  width: 114px;
  height: 93px;
  top: 24px;
  left: 523px;
}

.template .chat {
  position: absolute;
  width: 105px;
  height: 75px;
  top: 9px;
  left: 5px;
}

.template .vector-2 {
  position: absolute;
  width: 1px;
  height: 94px;
  top: 23px;
  left: 412px;
}

.template .flexcontainer-i {
  top: 24px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 266px;
  height: 107px;
}

.template .AR-VR-2 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 1096px;
}

.template .text-wrapper-10 {
  position: absolute;
  width: 85px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.60px;
  line-height: normal;
}

.template .view-5 {
  position: absolute;
  width: 51px;
  height: 29px;
  top: 117px;
  left: 931px;
}

.template .text-wrapper-11 {
  position: absolute;
  width: 51px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #4c3c3ccc;
  font-size: 20px;
  letter-spacing: 1.60px;
  line-height: normal;
}

.template .view-6 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 723px;
}

.template .view-7 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 117px;
  left: 537px;
}

.template .user-jpg {
  position: absolute;
  width: 83px;
  height: 93px;
  top: 37px;
  left: 1301px;
}

.template .view-8 {
  position: absolute;
  width: 85px;
  height: 27px;
  top: 131px;
  left: 1301px;
}
